In [1]:
import pandas as pd

df = pd.read_csv('data/XAU_GBP Historical Data.csv')

df

          Date     Price      Open      High       Low  Vol. Change %
0   06/01/2024  1,836.19  1,827.27  1,874.97  1,797.50   NaN    0.58%
1   05/01/2024  1,825.59  1,835.10  1,928.20  1,813.54   NaN   -0.23%
2   04/01/2024  1,829.76  1,767.80  1,954.18  1,765.97   NaN    3.49%
3   03/01/2024  1,768.08  1,619.13  1,771.29  1,613.07   NaN    9.24%
4   02/01/2024  1,618.57  1,608.01  1,624.10  1,578.88   NaN    0.69%
5   01/01/2024  1,607.49  1,620.26  1,639.86  1,578.46   NaN   -0.76%
6   12/01/2023  1,619.88  1,613.37  1,662.39  1,571.68   NaN    0.44%
7   11/01/2023  1,612.79  1,632.42  1,641.79  1,569.92   NaN   -1.16%
8   10/01/2023  1,631.67  1,515.10  1,659.18  1,489.50   NaN    7.71%
9   09/01/2023  1,514.89  1,530.71  1,577.66  1,513.73   NaN   -0.99%
10  08/01/2023  1,530.05  1,530.79  1,537.34  1,478.24   NaN   -0.01%
11  07/01/2023  1,530.17  1,513.28  1,539.19  1,488.06   NaN    1.30%
12  06/01/2023  1,510.54  1,577.07  1,586.54  1,498.76   NaN   -4.18%
13  05/01/2023  1,576.39  1,583.60  1,649.59  1,566.56   NaN   -0.44%
14  04/01/2023  1,583.41  1,597.10  1,635.69  1,580.64   NaN   -0.77%
15  03/01/2023  1,595.76  1,520.63  1,648.81  1,516.09   NaN    5.03%
16  02/01/2023  1,519.27  1,565.22  1,592.67  1,491.24   NaN   -2.87%
17  01/01/2023  1,564.15  1,508.33  1,577.77  1,507.39   NaN    3.75%
18  12/01/2022  1,507.64  1,467.29  1,522.06  1,434.01   NaN    2.84%
19  11/01/2022  1,466.01  1,423.95  1,512.54  1,422.15   NaN    2.99%
20  10/01/2022  1,423.49  1,487.99  1,538.66  1,413.57   NaN   -4.25%
21  09/01/2022  1,486.73  1,471.95  1,576.44  1,447.04   NaN    1.08%
22  08/01/2022  1,470.87  1,451.89  1,491.94  1,437.47   NaN    1.38%
23  07/01/2022  1,450.89  1,483.91  1,508.20  1,405.38   NaN   -2.18%
24  06/01/2022  1,483.24  1,457.70  1,529.46  1,450.80   NaN    1.77%
25  05/01/2022  1,457.39  1,506.98  1,542.77  1,448.13   NaN   -3.36%
26  04/01/2022  1,508.10  1,474.32  1,532.82  1,460.10   NaN    2.34%
27  03/01/2022  1,473.66  1,422.20  1,580.44  1,416.92   NaN    3.66%
28  02/01/2022  1,421.66  1,336.59  1,473.91  1,315.16   NaN    6.44%
29  01/01/2022  1,335.69  1,351.55  1,376.27  1,317.07   NaN   -1.14%
30  12/01/2021  1,351.06  1,334.56  1,366.93  1,324.19   NaN    1.32%
31  11/01/2021  1,333.47  1,303.41  1,395.99  1,287.82   NaN    2.43%
32  10/01/2021  1,301.79  1,304.26  1,317.32  1,280.35   NaN   -0.11%
33  09/01/2021  1,303.27  1,318.77  1,322.89  1,266.44   NaN   -1.08%
34  08/01/2021  1,317.50  1,305.01  1,325.13  1,214.99   NaN    1.01%
35  07/01/2021  1,304.27  1,280.07  1,343.77  1,277.71   NaN    1.94%

In [ ]:
df = df[['Date', 'Close']]

df

In [ ]:
df['Date']

In [ ]:
import datetime

def str_to_datetime(s):
  split = s.split('-')
  year, month, day = int(split[0]), int(split[1]), int(split[2])
  return datetime.datetime(year=year, month=month, day=day)

datetime_object = str_to_datetime('1986-03-19')
datetime_object

In [ ]:
df

In [ ]:
df['Date'] = df['Date'].apply(str_to_datetime)
df['Date']

In [ ]:
df.index = df.pop('Date')
df

In [ ]:
import matplotlib.pyplot as plt

plt.plot(df.index, df['Close'])

In [1]:
import numpy as np

def df_to_windowed_df(dataframe, first_date_str, last_date_str, n=3):
  first_date = str_to_datetime(first_date_str)
  last_date  = str_to_datetime(last_date_str)

  target_date = first_date
  
  dates = []
  X, Y = [], []

  last_time = False
  while True:
    df_subset = dataframe.loc[:target_date].tail(n+1)
    
    if len(df_subset) != n+1:
      print(f'Error: Window of size {n} is too large for date {target_date}')
      return

    values = df_subset['Close'].to_numpy()
    x, y = values[:-1], values[-1]

    dates.append(target_date)
    X.append(x)
    Y.append(y)

    next_week = dataframe.loc[target_date:target_date+datetime.timedelta(days=7)]
    next_datetime_str = str(next_week.head(2).tail(1).index.values[0])
    next_date_str = next_datetime_str.split('T')[0]
    year_month_day = next_date_str.split('-')
    year, month, day = year_month_day
    next_date = datetime.datetime(day=int(day), month=int(month), year=int(year))
    
    if last_time:
      break
    
    target_date = next_date

    if target_date == last_date:
      last_time = True
    
  ret_df = pd.DataFrame({})
  ret_df['Target Date'] = dates
  
  X = np.array(X)
  for i in range(0, n):
    X[:, i]
    ret_df[f'Target-{n-i}'] = X[:, i]
  
  ret_df['Target'] = Y

  return ret_df

# Start day second time around: '2021-03-25'
windowed_df = df_to_windowed_df(df, 
                                '2021-03-25', 
                                '2022-03-23', 
                                n=3)
windowed_df

In [ ]:
def windowed_df_to_date_X_y(windowed_dataframe):
  df_as_np = windowed_dataframe.to_numpy()

  dates = df_as_np[:, 0]

  middle_matrix = df_as_np[:, 1:-1]
  X = middle_matrix.reshape((len(dates), middle_matrix.shape[1], 1))

  Y = df_as_np[:, -1]

  return dates, X.astype(np.float32), Y.astype(np.float32)

dates, X, y = windowed_df_to_date_X_y(windowed_df)

dates.shape, X.shape, y.shape

In [ ]:
q_80 = int(len(dates) * .8)
q_90 = int(len(dates) * .9)

dates_train, X_train, y_train = dates[:q_80], X[:q_80], y[:q_80]

dates_val, X_val, y_val = dates[q_80:q_90], X[q_80:q_90], y[q_80:q_90]
dates_test, X_test, y_test = dates[q_90:], X[q_90:], y[q_90:]

plt.plot(dates_train, y_train)
plt.plot(dates_val, y_val)
plt.plot(dates_test, y_test)

plt.legend(['Train', 'Validation', 'Test'])

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import layers

model = Sequential([layers.Input((3, 1)),
                    layers.LSTM(64),
                    layers.Dense(32, activation='relu'),
                    layers.Dense(32, activation='relu'),
                    layers.Dense(1)])

model.compile(loss='mse', 
              optimizer=Adam(learning_rate=0.001),
              metrics=['mean_absolute_error'])

model.fit(X_train, y_train, validation_data=(X_val, y_val), epochs=100)

In [ ]:
train_predictions = model.predict(X_train).flatten()

plt.plot(dates_train, train_predictions)
plt.plot(dates_train, y_train)
plt.legend(['Training Predictions', 'Training Observations'])

In [ ]:
val_predictions = model.predict(X_val).flatten()

plt.plot(dates_val, val_predictions)
plt.plot(dates_val, y_val)
plt.legend(['Validation Predictions', 'Validation Observations'])

In [ ]:
test_predictions = model.predict(X_test).flatten()

plt.plot(dates_test, test_predictions)
plt.plot(dates_test, y_test)
plt.legend(['Testing Predictions', 'Testing Observations'])

In [ ]:
plt.plot(dates_train, train_predictions)
plt.plot(dates_train, y_train)
plt.plot(dates_val, val_predictions)
plt.plot(dates_val, y_val)
plt.plot(dates_test, test_predictions)
plt.plot(dates_test, y_test)
plt.legend(['Training Predictions', 
            'Training Observations',
            'Validation Predictions', 
            'Validation Observations',
            'Testing Predictions', 
            'Testing Observations'])

In [ ]:
from copy import deepcopy

recursive_predictions = []
recursive_dates = np.concatenate([dates_val, dates_test])

for target_date in recursive_dates:
  last_window = deepcopy(X_train[-1])
  next_prediction = model.predict(np.array([last_window])).flatten()
  recursive_predictions.append(next_prediction)
  last_window[-1] = next_prediction

In [ ]:
plt.plot(dates_train, train_predictions)
plt.plot(dates_train, y_train)
plt.plot(dates_val, val_predictions)
plt.plot(dates_val, y_val)
plt.plot(dates_test, test_predictions)
plt.plot(dates_test, y_test)
plt.plot(recursive_dates, recursive_predictions)
plt.legend(['Training Predictions', 
            'Training Observations',
            'Validation Predictions', 
            'Validation Observations',
            'Testing Predictions', 
            'Testing Observations',
            'Recursive Predictions'])